.page-item > .page-link {
    color: white;
    background-color: transparent!important;
}
.page-item > .page-link:hover {
    color: #838383!important;
}
.pagination > .active *{ 
    background: #0c0d0f!important; 
    color: white;
    border: 1px solid #495057;
}    